*{
    box-sizing: border-box;
}

body{
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.nav-primary.navbar{
    position: absolute;
    top:0;
    width: 100%;
}

.nav-primary .navbar-collapse{
    justify-content: flex-end;

}

.background{
    height: 80vh;
    margin-top: 80px;
}

.background img{
    height: 80vh;
    object-fit: cover;
}

.autora{
    font-size: 22px;
}

.autora-paragrafo{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.skills{
    font-size: 22px;
}

textarea{
    resize: none;

}

textarea.form-control{
    height: 100px;
}

span.error{
    color:black;
    letter-spacing: 0.5px;
}

input.error, textarea.error{
    border-color: black;
}

.contact{
background: linear-gradient(167deg, rgba(246,242,242,1) 0%, rgba(227,223,223,1) 64%);

} 

.footer img{
    width: 2.25em;
}